.section {
  height: 100%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
}

.btns_wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 20px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 48px;

    img {
      width: 35px;
    }
  }
}

.ul {
  list-style: none;

  li {
  }

  table {
    width: 100%;
    margin-bottom: 12px;
  }

  thead {
    font-weight: 700;
  }

  tbody {
    font-weight: 500;
  }

  th {
    border-radius: 5px;
    background-color: #dfe7ec;
    padding: 2px 6px;

    text-align: center;
    color: #304859;
    font-family: inherit;
    font-weight: inherit;
  }

  tr > th:nth-child(2),
  tr > th:nth-child(3),
  tr > th:nth-child(4) {
    @media only screen and (max-width: 475px) {
      display: none;
    }
  }
}
