@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.section {
  animation: fade-in-fwd 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  height: 100%;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container {
  .message {
    font-size: 20px;
    margin-bottom: 8px;

    @media only screen and (min-width: 768px) {
      font-size: 26px;
      margin-bottom: 16px;
    }
  }
}

.btns_wrapper {
  display: flex;
  align-items: center;
  column-gap: 11px;

  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    column-gap: 32px;
    margin-bottom: 32px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;

    border-radius: 26px;
    border: none;

    color: #fcfcfc;
    background-color: #fda214;
    font-size: 16px;
    font-weight: 700;

    cursor: pointer;
    transition: background-color 0.2s;

    @media only screen and (min-width: 768px) {
      height: 50px;
      font-size: 24px;
    }

    &:hover {
      background-color: #6395b8;
    }

    img {
      width: 27.5px;

      @media only screen and (min-width: 768px) {
        width: 40px;
      }
    }
  }

  button:first-child {
    width: 40px;

    @media only screen and (min-width: 768px) {
      width: 50px;
    }
  }

  button:last-child {
    width: 100px;

    @media only screen and (min-width: 768px) {
      width: 120px;
    }
  }
}

.ul {
  list-style: none;

  li {
    overflow: scroll;
  }

  table {
    width: 100%;
    margin-bottom: 12px;

    @media only screen and (min-width: 768px) {
      margin-bottom: 20px;
    }
  }

  thead {
    font-weight: 700;
  }

  tbody {
    font-weight: 500;
  }

  th {
    border-radius: 5px;
    background-color: #dfe7ec;
    padding: 4px 10px;

    text-align: center;
    color: #304859;
    font-size: 16px;
    font-family: inherit;
    font-weight: inherit;

    @media only screen and (min-width: 768px) {
      font-size: 18px;
      padding: 6px 13px;
      border-radius: 10px;
    }
  }

  .biggest {
    color: #3081d0;
    font-weight: 700;
  }
}
