* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
}

body {
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;

  width: 400px;
  height: 400px;
  margin: 100px;

  li {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: monospace;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;

    svg {
      pointer-events: none;
    }
  }
}

.tile-paired {
  background-color: blue;
}
